APP_NAME=TrackingService
APP_ENV=local
APP_KEY=base64:c3RhdGljdHJhY2tpbmdrZXlmaXh0dXJlMDAwMDAwMDAwMDA=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=core2_ms_tracking
DB_USERNAME=postgres
DB_PASSWORD=
