includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    level: 7

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            paths:
                - config/*
